@model IEnumerable<Airline_Reservation_System.Models.Admin>

@{
    ViewBag.Title = "Admin_user";
}

<h2>Admin_user</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ticket_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirlineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Depart_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirlineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Depart_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrival_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
